@implements IDisposable
@inject IJSRuntime JS
@inject NavigationManager NavigationManager



<div class="sidebar">
    <div class="sidebar-header">
        <div class="logo">ج.ذ</div>
        <h3>الجامعة الذكية</h3>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li><a href="/" class="@homea" @onclick="SetActive"><i class="fas fa-home"></i> <span>الرئيسية</span></a></li>
            <li><a href="/studentsview" class="@sta" @onclick="SetActive"><i class="fas fa-users"></i> <span>الطلاب</span></a></li>
            <li><a href="/teachers" class="@tta"><i class="fas fa-chalkboard-teacher"></i> <span>أعضاء الهيئة</span></a></li>
            <li><a href="/coursesview" class="@cca"><i class="fas fa-book"></i> <span>المقررات</span></a></li>
            <li><a href="/departmentsview" class="@dpa"><i class="fas fa-building"></i> <span>الأقسام</span></a></li>
            <li><a href="/assessments" class="@assa"><i class="fas fa-clipboard-list"></i> <span>التقييمات</span></a></li>
            <li><a href="/reportsview" class="@repa"><i class="fas fa-chart-bar"></i> <span>التقارير</span></a></li>
            <li><a href="/calendarview" class="@cala"><i class="fas fa-calendar-alt"></i> <span>الجدول الدراسي</span></a></li>
            <li><a href="/acceptance" class="@acca"><i class="fas fa-user-check"></i> <span>طلبات القبول</span></a></li>
            <li><a href="/student-projects" class="@stpra"><i class="fas fa-laptop-code"></i> <span>مشاريع الطلاب</span></a></li>
            <li><a href="/tuitionview" class="@tiuia"><i class="fas fa-money-bill-wave"></i> <span>الرسوم الدراسية</span></a></li>
            <li><a href="/eventview" class="@eva"><i class="fas fa-calendar-day"></i> <span>الفعاليات</span></a></li>
            <li><a href="/archiveview" class="@archa"><i class="fas fa-archive"></i> <span>الأرشيف</span></a></li>
            <li><a href="/official-books" class="@offba"><i class="fas fa-book-open"></i> <span>الكتب الرسمية</span></a></li>
            <li><a href="/accounting-dashboard" class="@offba"><i class="fas fa-book"></i> <span>الحسابات المالية</span></a></li>
            <li><a href="/settingsview" class="@seta"><i class="fas fa-cog"></i> <span>الإعدادات</span></a></li>
            <li><a href="/logoutview" class="@loga"><i class="fas fa-sign-out-alt"></i> <span>تسجيل الخروج</span></a></li>
        </ul>
    </div>
</div>

  

    <script>
    // تحديد جميع عناصر القائمة
    const menuItems = document.querySelectorAll('li a');

    // إضافة مستمع حدث النقر لكل عنصر
    menuItems.forEach(item => {
        item.addEventListener('click', function (e) {
            // منع السلوك الافتراضي إذا كان الرابط فارغًا أو يحتوي على #
            if (this.getAttribute('href') === '#' || this.getAttribute('href') === '') {
                e.preventDefault();
            }

            // إزالة class active من جميع العناصر
            menuItems.forEach(link => {
                link.classList.remove('active');
            });

            // إضافة class active للعنصر الذي تم النقر عليه
            this.classList.add('active');
        });
    });
    </script>



@code {
    private string currentUrl = "";
    public string homea { get; set; } = "";
    public string sta { get; set; } = "";
    public string tta { get; set; } = "";
    public string cca { get; set; } = "";
    public string dpa { get; set; } = "";
    public string assa { get; set; } = "";
    public string repa { get; set; } = "";
    public string cala { get; set; } = "";
    public string acca { get; set; } = "";
    public string stpra { get; set; } = "";
    public string tiuia { get; set; } = "";
    public string eva { get; set; } = "";
    public string archa { get; set; } = "";
    public string offba { get; set; } = "";
    public string seta { get; set; } = "";
    public string loga { get; set; } = "";

    protected override void OnInitialized()
    {
        SetActive();
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }	
    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        SetActive();
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
      
	}

	public void Dispose()
	{
		NavigationManager.LocationChanged -= OnLocationChanged;
	}
    public void SetActive()
	{
        switch (currentUrl)
        {
            case "":
                homea = "active";
                break;
            case "studentsview":
                sta = "active";
                break;
            case "teachers":
                tta = "active";
                break;
            case "coursesview":
                cca = "active";
                break;
            case "departmentsview":
                dpa = "active";
                break;
            case "assessments":
                assa = "active";
                break;
            case "reportsview":
                repa = "active";
                break;
            case "calendarview":
                cala = "active";
                break;
            case "acceptance":
                acca = "active";
                break;
            case "student-projects":
                stpra = "active";
                break;
            case "tuitionview":
                tiuia = "active";
                break;
            case "eventview":
                eva = "active";
                break;
            case "archiveview":
                archa = "active";
                break;
            case "official-books":
                offba = "active";
                break;
            case "settingsview":
                seta = "active";
                break;
            case "logoutview":
                loga = "active";
                break;
        }
	}

}


@* @implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartUnivercityBlazoreApplication</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

 *@
