@using BlazorAuthApp.Components.Account.Shared
@using BlazorAuthApp.Components.Layout
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="p-4">
                <h1>الصفحة غير موجودة</h1>
                <p>عذراً، الصفحة التي تبحث عنها غير موجودة.</p>
                <a href="/" class="btn btn-primary">العودة للرئيسية</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
